@custom-variant dark (&:where(.dark, .dark *));
@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #171717;
}

/* * {
  border:1px solid gray;
} */

@media (min-width: 800px) {
  * {
    cursor: none !important;
  }
}

/* Show normal cursor below 1024px */
@media (max-width: 800px) {
  * {
    cursor: auto !important;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Add to globals.css — anywhere after your @import "tailwindcss" line */

.dark ::selection {
  background-color: #161616;
  color: #f5f5f5;
}

::selection {
  background-color: #f5f5f5;
  color: black;
}

/* Firefox still needs the prefixed version on some versions */
.dark ::-moz-selection {
  background-color: #161616;
  color: #f5f5f5;
}

::-moz-selection {
  background-color: #f5f5f5;
  color: #161616;
}

/* hiding scrollbar */
::-webkit-scrollbar {
  display: none;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2147483646;
}

@font-face {
  font-family: 'BonheurRoyal-regular';
  src: url('/assets/fonts/Bonheur_Royale/BonheurRoyale-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mogra-Regular';
  src: url('/assets/fonts/Mogra/Mogra-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'sour_gummy';
  src: url('/assets/fonts/Sour_Gummy/SourGummy-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  /* font-weight: normal; */
  font-style: normal;
}


/* Only apply when this class is used */
.Bonheur {
  font-family: 'BonheurRoyal-regular', system-ui, monospace;
}

.mogra {
  font-family: 'mogra-Regular';
}

.sourGummy {
  font-family: "sour_gummy";
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}